.Home {
  @extend %view-face;
  @extend %face-front;

  background:$view-bg;
}

.View_1 {
  @extend %view-face;
  @extend %face-right;

  background:$view-bg;
}

.View_2 {
  @extend %view-face;
  @extend %face-back;

  background:$view-bg;
}

.About {
  @extend %view-face;
  @extend %face-left;

  background:$view-bg;
}

.Menu {
  @extend %view-face;
  @extend %face-top;

  background:$view-bg;
}

.Contact {
  @extend %view-face;
  @extend %face-bottom;

  background: $view-bg;
}

/*
.Feed {
  @extend %view-face;
  @extend %face-bottom;

  background: $view-bg;
}
*/



header .MenuIcon {
  float:left;
}

header .contactIcon {
  float: right;
}




.menu-list {
  perspective: 550px;
  margin-bottom: 30px;
}
.menu-option {
  width:100%;
  height:50px;
  margin:auto;
  padding:10px;
  position: relative;
  background: $view-bg;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  list-style: none;
  transition: transform 0.1s ease;
  z-index: 1;
  cursor: pointer;
  
  &:hover {
    background:#fff;
  }
}

.menu-deco-text {
  color:#ddd;
  text-align: center; 
}
.menu-deco-text1 {
  transform: rotate(15deg);
  font-size:26px;
  margin-right:10%;
}
.menu-deco-text2 {
  transform: rotate(-7deg);
  font-size:14px;

  margin-right:40%;
}
.menu-deco-text3 {
  transform: rotate(35deg);
  font-size:22px;

  margin-left:10%;
}
