.flex {
  @inlcude outer-container(1920px);
  padding: 0 3%;
  min-height:80vh;
}

.flex__square {
  @include span-columns(4);
  height:31.76157%;
  padding: 2%;

  text-align:center;
  
  a {
    @include click-padding(50%, 50%);
  }
  
  i {
    transition: box-shadow 0.2s ease, color 0.2s ease,
  }
  
  a:hover i {
    color:#666;
    box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.8)
  }
}
.flex__square:nth-child(3n) {
  @include omega($query: block)
}

.flex__icon {
  width: 20vw;
  height: auto;
}